<section class="row color-background-white padding-15">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div>
      <img class="img-fluid" src="{{bookImgURL}}" alt="">
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-size-xxl">{{book.bookName}}</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-size-sm">
      <span>Tác giả:</span>
      <span class="color-blue">{{book.author}}</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15 flex-middle">
      <div class="add-to-cart">
        <i class="icon icon-shopping-basket"></i>
        <div>Thêm vào giỏ sách</div>
      </div>
      <favorite-star class="padding-left-15"></favorite-star>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15" id="section-detail">
      <div class="font-style-sermi-bold">THÔNG TIN CHI TIẾT</div>
      <div class="margin-top-5">
        <table>
          <tbody>
            <tr>
              <td>Công ty phát hành</td>
              <td>{{book.publisher}}</td>
            </tr>
            <tr>
              <td>Nhà xuất bản</td>
              <td>{{book.supplier}}</td>
            </tr>
            <tr>
              <td>Kích thước</td>
              <td>{{book.size}}</td>
            </tr>
            <tr>
              <td>Tác giả</td>
              <td>{{book.author}}</td>
            </tr>
            <tr>
              <td>Loại bìa</td>
              <td>{{book.format}}</td>
            </tr>
            <tr>
              <td>Số trang</td>
              <td>{{book.pages}}</td>
            </tr>
            <tr>
              <td>Ngày xuất bản</td>
              <td>{{book.publicationDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="margin-top-15">
    <div class="font-style-sermi-bold">GIỚI THIỆU SÁCH</div>
    <div class="color-background-white padding-15 margin-top-5">
      <div>{{book.description}}</div>
    </div>
  </div>
</section>
