<section class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="color-background-white padding-15">
      <div class="font-style-bold">
        Danh mục sách
      </div>
      <div class="font-style-bold font-size-sm">
        Sách tham khảo
      </div>
      <div class="padding-left-20">
        <div>Công nghệ thông tin</div>
        <div>Ngoại ngữ</div>
        <div>Tài chính ngân hàng</div>
      </div>
      <div class="font-style-bold font-size-sm">
        Luận văn
      </div>
      <div class="padding-left-20">
        <div>Luận văn tốt nghiệp</div>
        <div>Báo cáo đồ án</div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 color-background-white">
    <book-section></book-section>
  </div>
</section>
