<section>
  <div class="header">
    <div class="padding-15 flex-space-between-center">
      <div class="logo">
        <span class="letter" data-letter="T">T</span>
        <span class="letter" data-letter="H">H</span>
        <span class="letter" data-letter="Ư">Ư</span>
        <span class="letter margin-left-10" data-letter="V">V</span>
        <span class="letter" data-letter="I">I</span>
        <span class="letter" data-letter="Ệ">Ệ</span>
        <span class="letter" data-letter="N">N</span>
      </div>
      <div class="search-form">
        <input class="form-control" type="text" name="" id="">
        <div class="search-label">
          <i class="icon icon-search"></i>
          <span>Tìm kiếm</span>
        </div>
      </div>
      <div class="user-control">
        <div class="user-book-tracking">
          <i class="icon icon-books color-blue"></i>
          <div class="">
            <div class="font-size-sm">Tình trạng sách</div>
            <div class="font-size-xs">của tôi</div>
          </div>
        </div>
        <div class="user-notify">
          <i class="icon icon-email-black color-blue"></i>
          <span class="number-notification">3</span>
          <div class="">
            <div class="font-size-sm">Tin nhắn</div>
            <div class="font-size-xs">của tôi</div>
          </div>
        </div>
        <div class="user-login" (click)="login(ComponentId.SelectBooks)">
          <i class="icon icon-person color-blue"></i>
          <div class="">
            <div class="font-size-sm">Đăng nhập</div>
            <div class="font-size-xs">Tài khoản</div>
          </div>
        </div>
        <div class="book-in-cart">
          <i class="icon icon-shopping-basket"></i>
          <span class="padding-left-right-5">Giỏ sách</span>
          <span class="number-of-choose">18</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container"></div>
</section>
