<div class="book-in-cart-item">
  <div class="book-img">
    <img class="img-fluid" src="{{getBookImgURL()}}" alt="">
  </div>
  <div class="book-info">
    <div class="font-size-lg font-style-bold">bookName</div>
    <div class="margin-top-10">
      <span>Tác giả:</span>
      <span class="color-blue cursor-pointer">author</span>
    </div>
    <div class="margin-top-10">
      <span>Còn lại:</span>
      <span class="color-blue font-style-bold">0</span>
    </div>
    <div class="flex-middle margin-top-10">
      <div class="color-blue cursor-pointer">Xoá</div>
      <div class="color-blue cursor-pointer padding-left-20">Mượn sau</div>
    </div>
  </div>
</div>
