<div class="book-section-header">Sách mới</div>
<div class="book-section-list">
  <div class="swiper-prev">
    <i class="icon icon-navigate-left"></i>
  </div>
  <div class="book-section-content">
    <book-item class="active"></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
    <book-item></book-item>
  </div>
  <div class="swiper-next">
    <i class="icon icon-navigate-right"></i>
  </div>
</div>
